<h1><%= @group.name %></h1>
<% if (@group.moderators.include? current_user) or (@group.editors.include? current_user) or current_user == @group.owner %>
  <strong><%= link_to 'Edit', edit_group_path(@group) %></strong>
<% end %>
<br /><br />

<table>
  <thead>
    <tr>
      <th>Subgroups:</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to 'Show', group_path(group) %></td>
        <% if (@group.moderators.include? current_user) or (@group.editors.include? current_user)  or current_user == @group.owner %>
          <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if (@group.moderators.include? current_user) or (@group.editors.include? current_user) or current_user == @group.owner%>
  <%= link_to 'New Subgroup', new_group_path(:parent_id => @group.id) %>
<% end %>
<br>
<p>================================</p>

<table>
  <thead>
    <tr>
      <th>Forms:</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= form.name %></td>
        <td><%= link_to 'Respond', new_group_form_response_path(:group_id => @group.id, :form_id => form.id) %></td>
        <% if (@group.moderators.include? current_user) or (@group.editors.include? current_user) %>
          <td><%= link_to 'Edit', edit_group_form_path(:id => form.id, :group_id => @group.id) %></td>
          <td><%= link_to 'Destroy', group_form_path(:group_id => @group.id, :id => form.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if (@group.moderators.include? current_user) or (@group.editors.include? current_user) or current_user == @group.owner%>
  <%= link_to 'New Form', new_group_form_path(:group_id => @group.id) %>
<% end %>
<p>================================</p>
<% if @group.parent_id? %>
	<%= link_to('Back', :action => 'show', :id => @group.parent_id) %>
<% else %>
  <% unless logged_in? %>
    <%= link_to('Back', :action => 'index') %>
  <% end %>
<% end %>
