<h1><%= @group.name %></h1>

<table>
  <thead>
    <tr>
      <th>Subgroups</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to 'Show', group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Subgroup', new_group_path(:group_id => @group.id) %>
<br>
<p>================================</p>

<table>
  <thead>
    <tr>
      <th>Forms</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= form.name %></td>
        <td><%= link_to 'Show', group_form_path(:group_id => @group.id, :id => form.id) %></td>
        <td><%= link_to 'Edit', edit_group_form_path(:id => form.id, :group_id => @group.id) %></td>
        <td><%= link_to 'Destroy', group_form_path(:group_id => @group.id, :id => form.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Form', new_group_form_path(:group_id => @group.id) %>
<p>================================</p>
<% if @group.group_id? %>
	<%= link_to('Back', :action => 'show', :id => @group.group_id) %>
<% end %>