<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @group.user_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @group.integer %>
</p>

<p>
  <strong>Group:</strong>
  <%= @group.group_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Moderators:</strong>
  <%= @group.moderators %>
</p>

<p>
  <strong>Editors:</strong>
  <%= @group.editors %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
