<h2><%= @group.name %></h2>

<% if @group.parent %>
  <%= link_to 'Back', group_path(@group.parent), class: 'btn btn-sm btn-default' %>
<% elsif not logged_in? %>
  <%= link_to 'Back', groups_path, class: 'btn btn-sm btn-default' %>
<% end %>

<% if can_edit? %>
  <%= link_to 'New Subgroup', new_group_path(:parent_id => @group.id), class: 'btn btn-sm btn-default' %>
  <%= link_to 'New Form', new_group_form_path(:group_id => @group.id), class: 'btn btn-sm btn-default' %>
  <%= link_to 'Edit Group', edit_group_path(@group), class: 'btn btn-sm btn-default pull-right' %>
<% end %>

<div class="list-group top7">
  <% @group.subgroups.each do |group| %>
    <%= link_to group, class: "list-group-item" do %>
      <span class="lead">
        <span class="glyphicon glyphicon-folder-close"></span>
        <%= group.name %>
      </span>
    <% end %>
  <% end %>
  <% @group.forms.each do |form| %>
    <%= link_to group_form_path(@group, form), class: "list-group-item" do %>
      <span class="lead">
        <span class="glyphicon glyphicon-list-alt"></span>
        <%= form.name %>
      </span>
    <% end %>
  <% end %>
</div>
