<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @response.respondent_id %>
</p>

<p>
  <strong>Answers:</strong>
  <%= @response.answers %>
</p>

<p>
  <strong>Form:</strong>
  <%= @response.form_id %>
</p>

<%= link_to 'Back', groups_path(@group) %>
