<p>
  <strong>Owner:</strong>
  <%= @form.owner_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @form.group_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @form.name %>
</p>

<p>
  <strong>Template:</strong>
  <%= @form.template %>
</p>

<p>
  <strong>Render options:</strong>
  <%= @form.render_options %>
</p>
<% if (@group.moderators.include? current_user) or (@group.editors.include? current_user) or current_user == @group.owner %>
  <%= link_to 'Edit', edit_group_form_path(:id => @form.id) %> |
<% end %>
<%= link_to('Back', group_path(:id => @form.group_id)) %>

