<p>
  <strong>User:</strong>
  <%= @form.user_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @form.group_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @form.name %>
</p>

<p>
  <strong>Template:</strong>
  <%= @form.template %>
</p>

<p>
  <strong>Render options:</strong>
  <%= @form.render_options %>
</p>

<%= link_to 'Edit', edit_form_path(@form) %> |

<%= link_to('Back', :action => 'back', :parent_id => @form.group_id) %>

